$icomoon-font-path: "fonts" !default;

$card-cvc: "\e903";
$verified: "\e900";
$factsheet-full: "\e925";
$post: "\e905";
$search: "\e906";
$select: "\e923";
$account: "\e909";
$check-mail: "\e90a";
$help: "\e90b";
$lock-account: "\e90c";
$messages: "\e90d";
$mobile: "\e90e";
$watchlist: "\e90f";
$confirm: "\e912";
$info: "\e914";
$star-line: "\e908";
$star-fill: "\e907";
$menu: "\e915";
$warning: "\e916";
$error: "\e913";
$compare: "\e917";
$contract: "\e918";
$expand: "\e919";
$export: "\e91a";
$factsheet: "\e91b";
$print: "\e91c";
$refresh: "\e91d";
$settings: "\e91e";
$account-add: "\e91f";
$buy: "\e920";
$arrow-down: "\e901";
$arrow-up: "\e902";
$add: "\e910";
$close: "\e911";
$chart: "\e921";
$market: "\e922";
$sell: "\e924";
$globe: "\e926";
$report: "\e927";
$computer: "\e928";
$tick: "\e929";
$hand: "\e930";
$movie: "\e931";
$down-sort: "\e932";
$up-sort: "\e933";
$chevron-down-s: "\e934";
$chevron-up-s: "\e935";
$chevron-down-m: "\e936";
$chevron-up-m: "\e937";
$menu-burger: "\e938";
$no-entry: "\e939";
$square: "\e940";
$line: "\e941";
$droplet-line: "\e942";
$droplet-fill: "\e943";
$droplet-alt-line: "\e944";
$droplet-alt-fill: "\e945";
$circle-right: "\e946";
$circle-wave: "\e947";
$circle-zig: "\e948";
$saving: "\e949";
$home: "\e950";
$quantitative: "\e951";
$hand-point: "\e952";
$exit: "\e953";
$calendar: "\e954";
$clock: "\e955";
$other-account: "\e956";

